:root {
    --main-color:rgb(238, 75, 43);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #444;
    --border-color: #dbdbdb;
    --header-height:120px;
    --navbar-height: 36px;
    --star-gold-color:#ffce3e;
    --header-search-height:calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height:46px;
}

*{
    box-sizing: inherit;
}

html{
    font-size:62.5%;
    line-height:1.6em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */

.grid__ful-width {
    width: 100%;
}

.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-5{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
} 

@keyframes fadeIn{
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(0.7);
    }to{
        transform:1;
    }
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    display:flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body{
    z-index: 1;
    margin: auto;
    animation: growth linear 0.1s;
}

.modal__inner{

}
/* BUTTON STYLE */

.btn{
    min-width:124px;
    height: 34px;
    text-decoration: none;
    border:none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color:var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color:rgba(0, 0, 0, 0.05)
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary{
    background-color: var(--main-color);
    color:var(--white-color);
}

.btn.btn--disabled{
    cursor:default;
    color: #333;
    background-color:#999;
}

/* SELECT INPUT */
.select-input{
    position: relative;
    height:34px;
    min-width:200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color:var(--white-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #888;
}

.select-input:hover .select-input__list{
    display:block;
}

.select-input__list{
    position:absolute;
    left:0;
    right: 0;
    top: 26px;
    border-radius: 2px;
    background-color:var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display:none;
    z-index: 1;
}

.select-input__list::before{
    content: "";
    position: absolute;
    top:-5px;
    left:0;
    width: 100%;
    height: 10px;
}

.select-input__link{
    font-size: 1.4rem;
    color:var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--main-color);
}

/*  PAGINATION */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
    background-color:var(--main-color);
    color:var(--white-color);
}

.pagination-item--active .pagination-item__link:hover{
    opacity: 0.9;
}

.pagination-item__link{
    --height: 30px;
    display:block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #999;
    min-width:40px;
    height:var(--height);
    line-height: var(--height);
}

